<a id="btn_theme">Dark</a>
<script>
/* Cookie Utils */
const getCookie = (name) => {
  const cookie = decodeURIComponent(document.cookie)
      .split(';').map(e => e.trim())
      .find(e => e.startsWith(`${name}=`)) || '=';

  return cookie.split('=')[1];
}

const setCookie = (name, value) => {
  document.cookie = `${name}=${value}; path=/`;
}

/* Theme */
let isDarkTheme = false;

const setTheme = (isDark) => {
  // Dataset and Label
  document.documentElement.dataset.theme = isDark ? 'dark' : 'light';
  document.getElementById('btn_theme').textContent = isDark ? 'Light ☼' : 'Dark ◘';

  // Meta tag
  const themeColor = getComputedStyle(document.documentElement)
      .getPropertyValue('--background-color');
  document.querySelector('meta[name="msapplication-TileColor"]')
      .setAttribute("content", themeColor);
  document.querySelector('meta[name="theme-color"]')
      .setAttribute("content", themeColor);
  
  // Cookie and Variable
  setCookie('isDarkTheme', isDark);
  isDarkTheme = isDark;
}

/* Initialization */
(() => {
  const cookieTheme = getCookie('isDarkTheme');
  let theme = false;

  if(cookieTheme === ''){
    theme = window.matchMedia('(prefers-color-scheme: dark)').matches;
  }else{
    theme = cookieTheme === 'true';
  }

  setTheme(theme);
})();

/* Toggle Event */
document.getElementById('btn_theme')
    .addEventListener('click', () => setTheme(!isDarkTheme));
</script>
