body {
  -webkit-transition: background-color 0.5s ease-in;
  transition: background-color 0.5s ease-in;
}

.site-footer {
  .footer-col-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .contact-list {
    margin-bottom: 0;

    .name {
      font-size: $base-font-size * 1.25; 
    }

    .links a {
      padding: $spacing-unit / 2.5;

      &:visited {
        color: $link-base-color;
      }

      &:first-child {
        padding-left: 0;
      }
    }
  }
  
  .button-list {
    list-style: none;
    text-align: right;

    li {
      margin: $spacing-unit / 2;
      font-size: $base-font-size;

      a {
        padding: $spacing-unit / 2;
        cursor: pointer;
      }
    }
  }
}

.home {
  .page-desc {
    font-style: normal;
    margin-bottom: $spacing-unit * 2;
  }

  .post-list {
    li { margin-bottom: $spacing-unit * 1.5 }
    h3 { margin-bottom: 5px; }
  }
}

.post-content {
  h1, h2 { margin-top: $spacing-unit * 2 }
  h3, h4 { margin-top: $spacing-unit * 1.5 }
  h5, h6 { margin-top: $spacing-unit }
  
  p {
    line-height: 1.8;

    &.notice {
      margin-bottom: $spacing-unit;
      border: 1px solid $border-color-02;
      border-radius: 5px;
      padding: 10px;
    }
  }

  figure {
    margin: ($spacing-unit*1.5) 0;

    img {
      min-height: $spacing-unit * 3;
      margin: auto;
      border: 1px solid $border-color-02;
      border-radius: 5px;

      @media screen and (min-width: $on-medium) {
        max-width: $on-medium;
      }
    }

    figcaption {
      margin: auto;
      width: 100%;
      text-align: left;
      color: $brand-color;
      word-break: keep-all;

      @media screen and (min-width: $on-medium) {
        text-align: center;
      }

      a {
        white-space: nowrap;
      }
    }
  }

  p.img-scroll {
    width: 100%;
    border: 1px solid $border-color-02;
    overflow-x: auto;

    img {
      display: block;
      max-width: unset;
      min-height: $spacing-unit * 3;
      max-height: $spacing-unit * 15;
      margin: auto;
    }
  }

  table {
    th, td {
      padding: 5px;
    }
  }
  
  &> ul, &> ol {
    margin-top: $spacing-unit;
    margin-bottom: $spacing-unit;

    &> li {
      margin-bottom: $spacing-unit / 2;
    }
  }

}

.home .pagination li a {
  line-height: 1;
}

.post-footer {
  .pagination {
    margin-bottom: 0;

    li a {
      position: relative;
      padding: ($spacing-unit / 4) ($spacing-unit / 2);
      color: $link-base-color;

      &.previous-page {
        padding-left: 30px;

        &:before {
          content: "‹";
          left: 10px;
        }
      }

      &.next-page {
        padding-right: 30px;

        &:after {
          content: "›";
          right: 10px;
        }
      }

      &.previous-page:before, &.next-page:after {
        font-size: $base-font-size * 2;
        font-weight: $base-font-weight * 0.75;
        position: absolute;
        top: -10px;
      }
    }
  }
}

// tags (in Tech Blog)
.tags-wrapper {
  margin: auto;
  max-width: $on-medium / 1.25; 

  .clouds {
    margin-bottom: $spacing-unit;
    text-align: center;
    line-height: 2.5;

    a {
      margin: $spacing-unit / 4;
      margin-top: 0;
      padding: $spacing-unit / 2;

      &:visited { color: $link-base-color; }
      &:first-child { margin-left: 0; }
      &:last-child { margin-right: 0; }
    }
  }

  .item {
    margin-bottom: $spacing-unit * 1.5;

    &:last-child { margin-bottom: 0; }

    a {
      display: flex;
      justify-content: space-between;
      padding-top: $spacing-unit / 4;
      padding-bottom: $spacing-unit / 4;

      .time {
        color: $brand-color;
      }
    }
  }

}

.projects-wrapper {
  ul {
    margin-left: 0;
    list-style: none;
  }

  .item {
    margin-bottom: $spacing-unit * 2;
    
    &:last-child {
      margin-bottom: 0;
    }

    a {
      color: $text-color;
      text-align: center;
      text-decoration: none;
      
      &>span {
        display: block;
      }

      .spec {
        font-size: $small-font-size;
      }

      .title {
        color: $link-base-color;
        font-size: $base-font-size * 1.75;
      }
    }

    .separator {
      margin: auto;
      margin-top: $spacing-unit;
      width: $spacing-unit;
    }
  }

}

// (in Project)
.post-project {
  /*
  .post-header {
    .post-image {
      width: 100%;
      max-width: 450px;
    }
  }
  */

  .post-desc {
    &>a {
      margin-left: 5px;
      white-space: nowrap;
    }
  }
}

// (intro)
.intro-container {
  .header {
    margin-bottom: $spacing-unit * 1.25;
    text-align: center;

    .title {
      font-size: $base-font-size * 2;
    }

    .sub {
      margin-left: $spacing-unit * 0.5;
      font-size: $base-font-size * 1.25;
      font-weight: $base-font-weight * 0.8;
      color: $brand-color;
    }
  }
  
  .links {
    margin-bottom: $spacing-unit * 1.5;
    text-align: center;

    @media screen and (min-width: $on-medium) {
      display: none;
    }

    .page-link {
      color: $text-color;
      line-height: $base-line-height;
      display: inline-block;
      padding: 5px 10px;
    }
  }

  .img-wrapper {
    figure {
      margin: 0 auto;
      max-width: 450px;

      img {
        margin: auto;
        border: 1px solid $border-color-02;
        min-height: $spacing-unit * 3;
      }

      figcaption {
        margin: auto;
        text-align: center;
        color: $brand-color;
        word-break: keep-all;
      }
    }
  }
}

@mixin shadow-block {
  border-radius: 5px;
  box-shadow: 0 1px 5px $brand-color, inset 0 0px 0 $brand-color, inset 0 -0.5px 0 $brand-color;
  background-image: linear-gradient(to bottom, $background-color 0%, $table-zebra-color 100%);

  -webkit-transition: padding 0.5s;
  transition: padding 0.5s;

  &:hover {
    border-radius: 0;
    box-shadow: 0 2.5px 10px $brand-color, inset 0 -2.5px 0 $brand-color;

    background-image: unset;
    background-color: $background-color;
  }
}

// cv
.cv-container {
  .header {
    margin-bottom: $spacing-unit * 0.5;
    text-shadow: $brand-color 0px 1px 3px;
    font-size: $base-font-size * 3;
    white-space: nowrap;
    text-align: center;
  }

  h2 {
    text-shadow: $brand-color 0px 1px 2px;
    text-align: center;
  }

  div + h2 {
    margin-top: $spacing-unit * 1.75;
  }
  
  .blocks {
    text-align: center;

    a, span {
      @include shadow-block;

      margin: 0 ($spacing-unit * 0.25);
      line-height: $base-line-height * 2;

      white-space: nowrap;
      padding: ($spacing-unit * 0.5) ($spacing-unit * 0.75);
    }

    span:hover {
      padding: ($spacing-unit * 0.75) ($spacing-unit * 1);
    }
  }

  .element {
      @include shadow-block;

      margin: auto;
      max-width: 550px;
      padding: $spacing-unit * 0.5;

      &:hover {
        padding: $spacing-unit * 0.75;
      }

      .title {
        display: flex;
        justify-content: space-between;

        .label {
          font-weight: $base-font-weight * 1.25;
          text-shadow: $brand-color 0px 1px 2px;
        }

        .time {
          font-size: $base-font-size * 0.8;
          color: $brand-color;
        }
      }

      .content {
        .loc {
          font-style: italic;
          color: $brand-color;
        }

        .ul {
          &.cards {
            margin-top: $spacing-unit * 0.25;

            a, span {
              margin-right: $spacing-unit * 0.25;

              border-radius: 5px;
              box-shadow: inset 0 0.5px 2.5px $brand-color, inset 0 0px 0 $brand-color, inset 0 -0.25px 0 $brand-color;

              background-color: $background-color;
              padding: ($spacing-unit * 0.1) ($spacing-unit * 0.25);
            }
          }
        }

        .loc + .ul {
          margin-top: $spacing-unit * 0.5;
        }
      }
  }

  .element + .element {
    margin-top: $spacing-unit;
  }
}
